# external requirements
requests
beautifulsoup4
pandas
numpy
pyarrow
duckdb
scikit-learn
scipy
implicit
joblib
fastapi
uvicorn
pydantic
python-dotenv
PyYAML
aiofiles
thefuzz
python-Levenshtein
scikit-surprise
