# local package
-e .

# external requirements
requests
beautifulsoup4
pandas
numpy
pyarrow
duckdb
scikit-learn
scipy
joblib
implicit
fastapi
uvicorn
pydantic
python-dotenv
PyYAML
aiofiles
thefuzz
python-Levenshtein